.app {
  text-align: center;
}

.board {
  display: grid;
  grid-template-columns: repeat(8, 60px);
  width: fit-content;
  margin: auto;
  border: 2px solid #333;
}

.square {
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  color: #845151;
}

.light {
  background-color: #ffffff;
}

.dark {
  background-color: #000000;
}
