body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: rgb(102, 102, 102);
}

.container {
  display: flex;
  flex-direction: column;
  width: 31.25rem;
  padding: 0.625rem;
  border: 0.125rem solid whitesmoke;
  border-radius: 1rem;
  color: white;
}

.head {
  font-weight: 600;
  font-size: 1.25rem;
  margin-bottom: 1.25rem;
}

.term {
  padding: 0.625rem;
  border: 0.0625rem solid black;
  border-radius: 0.625rem;
}

.term:hover {
  background-color: rgb(158, 156, 152);
}

.term:focus {
  border: 0px;
  background-color: beige;
}