body {
  font-family: "Poppins", sans-serif;
  background: #fafafa;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.container {
  text-align: center;
}

h1 {
  margin-bottom: 10px;
}

.board {
  display: grid;
  grid-template-columns: repeat(10, 50px);
  grid-template-rows: repeat(10, 50px);
  gap: 1px;
  border: 2px solid #444;
  background-color: #fff;
  width: fit-content;
  margin: 0 auto 20px;
}

.cell {
  width: 50px;
  height: 50px;
  position: relative;
  background-color: #e8e8e8;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cell:nth-child(even) {
  background-color: #f3f3f3;
}

.num {
  position: absolute;
  top: 2px;
  left: 3px;
  font-size: 10px;
  color: #555;
}

.token {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  margin: 1px;
  border: 1px solid #fff;
}

.snake,
.ladder {
  position: absolute;
  font-size: 18px;
  bottom: 2px;
  right: 4px;
}

.info {
  margin-top: 10px;
}

button {
  background-color: #3498db;
  border: none;
  color: white;
  padding: 10px 20px;
  border-radius: 6px;
  cursor: pointer;
  font-size: 16px;
}

button:hover {
  background-color: #2980b9;
}
